<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.oversky524.maintabactivity">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.UiDemos" />
            </intent-filter>
        </activity>

    </application>

</manifest>
