<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.oversky524.pullrefresh">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
    </application>

</manifest>